<div class="container">
    <div class="row" style="margin-top:100px;">
        <div class="col-md-6 col-md-push-2">
            <h1>get a free estimate</h1>
            <form class="form-group">
                <label for="name">name</label>
                <input class="form-control" type="text" name="" placeholder="name"> <br>
                <label for="phone">phone</label>
                <input class="form-control" type="number" name="" placeholder="phone">
                <button type="submit" class="btn btn-premium" ng-click="send();">send</button>
            </form>
        </div>
    </div>
</div>
