/*.navbar{background-color:#67bc12;}
.navbar-inverse .navbar-brand {
  color:#fff;
}

li{color:#fff;}*/

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    color: #fff;
    padding-top: 20px;
    background-color: #4bb745;
  }

  .footer a {
    color: #fff;

  }
