/*.navbar{background-color:#67bc12;}
.navbar-inverse .navbar-brand {
  color:#fff;
}

li{color:#fff;}*/

  /* Sticky footer styles
  -------------------------------------------------- */
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    color: #fff;
    padding-top: 20px;
    background-color: #4bb745;
  }

  .footer a {
    color: #fff;
  }
